{% extends 'base.html' %}

{% block urltitle %}smartLock | not logged in{% endblock %}
{% block title %}Welcome to smartlock!{% endblock %}

{% block content %}
  <p>In this environment you can consult the log with a list of all people who recently gained access through this lock, you can also access a list of all people who are allowed entry through this lock in the first place.</p>
  <p>If you have administrative privileges you can manage this list by deleting people from it or adding them to it.</p>
  <h4>To get started you should log in and the options should appear in the navigation pane</h4>
{% endblock %}
